.App {
  text-align: center;
  margin: 20px;
}


body {
background-image: url("./pageold.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}


a {
  text-decoration: none;
}

.App p {
    font-family: 'Kite One', sans-serif;
    letter-spacing: .3em;
    font-size: 50px;
    color: #fff;
    text-shadow: 1px 4px 1px rgba(10,10,10,.8);
}


h6 {
    color: #000;
    font-size: 15px;
}


.box {

  text-decoration: none;
  margin: 10px;
 border: 1px 1px solid #fff;
  padding-right: 50px;
}

.box:focus {
  outline-color: rgba(90,1,1,1);
}

.click {
  border-radius: 3px;
  width: 80px;
  height: 20px;
  /*background: transparent;*/
  border: none;
  cursor: pointer;
  transition: .1s ease-in-out;
}

.click:hover {

}


.click:focus {
  outline: none;
}

.interactions {
  display: flex;
  flex-direction: column;
}

.table {
  display: block;
  width: 200px;
  padding: 30px;
  align-items: center;
  position: relative;
}

.table h2 {
    color: #fff;
    text-shadow: 2px 2px 2px rgba(10,10,10,.8);
  font-family: 'Kite One', sans-serif;
  font-size: 20px;
  letter-spacing: .2em;
}

.car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.thumbnail {
  justify-content: center;

  position: relative;
  display: block;


}

.thumbnail img {
  width: 100%;
  display: block;
  position: relative;
}
